figcaption h1,
p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

li .link {
    color: #AA1423;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

li var {
    position: absolute;
    color: #777;
    left: 74%;
    font-family: 'Roboto', sans-serif;
}

.footer a {
    position: relative;
    right: 10%;
    bottom: 60%;
    font-family: 'Roboto', sans-serif;
    color: #AA1423;
    font-size: 25px;
}

.hits h1,
.top5 h1 {
    font-family: 'Roboto Slab', serif;
    color: #AA1423;
    text-align: center;
}

.num {
    background-color: white;
    border-radius: 7px;
    margin: 0 auto;
    display: table;
    height: auto;
    padding: 10px;
    color: #AA1423;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
}

.hits div p {
    font-family: 'Roboto', sans-serif;
    color: #777;
}