.home-img {
    height: 100%;
    width: 100%;
}

.home-img img {
    height: 100%;
    width: 100%;
}

.header .logoTipo {
    position: relative;
    top: 40%;
}

.footer .facebook {
    position: relative;
    left: 75%;
    bottom: 50%;
}

.footer .twitter {
    position: relative;
    left: 65%;
    bottom: 50%;
}

.facebook,
.twitter {
    margin: 0 12% 0 0;
}