/* media Mobile */


/* tablet */

@media screen and (max-width: 1024px) {
    figcaption {
        top: 20%;
    }
}


/* Mobile */

@media screen and (max-width: 600px) {
    figcaption {
        position: absolute;
        text-align: center;
        color: white;
        top: 10%;
        left: 0;
        width: 100%;
    }
    figcaption form input {
        font-size: 13px;
    }
    .alinha {
        margin: 0 auto;
        width: 90%;
    }
    .triangulo-para-baixo {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid white;
    }
    figcaption h1 {
        font-size: 16px;
    }
    figcaption p {
        font-size: 12px;
    }
    .footer a {
        position: relative;
        right: 30%;
        bottom: 60%;
        font-family: 'Roboto', sans-serif;
        color: #AA1423;
        font-size: 25px;
    }
}