html,
body {
    height: 100%;
    margin: 0;
}


/*-- header --*/

.header {
    text-align: center;
    height: 50px;
}

figcaption {
    position: absolute;
    text-align: center;
    color: white;
    top: 170px;
    left: 0;
    width: 100%;
}

figcaption form input {
    position: relative;
    top: 30px;
    width: 35%;
    height: 30px;
    background-color: transparent;
    border-style: none none solid none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fe6f14;
    border-color: #fe6f14;
}

input::placeholder {
    color: #fe6f14;
}

figcaption form button {
    position: relative;
    top: 30px;
    width: 100px;
    height: 35px;
    background-color: #fe6f14;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: white;
}

figcaption form #close {
    position: relative;
    top: 28px;
    right: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    visibility: collapse;
    text-decoration: none;
    color: white;
}

.home-img {
    height: 480px;
    width: 100%;
}

.home-img img {
    height: 100%;
    width: 100%;
}

.header .logoTipo {
    position: relative;
    top: 40%;
}

figcaption h1,
p {
    color: white;
    font-family: 'Roboto', sans-serif;
}


/* --- Top  5 --- */

.top5 {
    display: inline-block;
    width: 100%;
    height: 330px;
}

.alinha {
    position: relative;
    margin: 0 auto;
    width: 34%;
    /* Altere para o valor da largura desejada. */
}

.alinha td {
    border-bottom: 1px solid #EEE;
    width: 100%;
}

.alinha .end {
    text-align: end;
}

.alinha .last {
    border-style: none;
}

tr td {
    padding-top: 5px;
    padding-bottom: 5px;
}

td .link {
    color: #AA1423;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

td span {
    position: relative;
    text-align: right;
    color: #777;
    font-family: 'Roboto', sans-serif;
}

.hits h1,
.top5 h1 {
    font-family: 'Roboto Slab', serif;
    color: #AA1423;
    text-align: center;
}


/* --- hits --- */

.hits {
    display: inline-block;
    background-color: #EEE;
    width: 100%;
    height: 250px;
    text-align: center;
}

.triangulo-para-baixo {
    position: relative;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid white;
}

.num {
    background-color: white;
    border-radius: 7px;
    border: 0.5px solid;
    border-color: #777;
    margin: 0 auto;
    display: table;
    height: auto;
    padding: 10px;
    color: #AA1423;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
}

.hits div p {
    font-family: 'Roboto', sans-serif;
    color: #777;
}


/*--- footer ---*/

.footer,
.push {
    height: 25px;
}

.footer {
    bottom: 0%;
}

.footer a {
    position: relative;
    right: 10%;
    bottom: 60%;
    font-family: 'Roboto', sans-serif;
    color: #AA1423;
    font-size: 25px;
}

.footer .facebook {
    position: relative;
    left: 75%;
    bottom: 50%;
}

.footer .twitter {
    position: relative;
    left: 65%;
    bottom: 50%;
}

.facebook,
.twitter {
    margin: 0 12% 0 0;
}